<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="/Assets/images/logo.jpg" />
    <% title="Home"; %> 
    <%- include ../partials/main_nav %>
    <%- include ../partials/header %>
    
<style>
    body {
        background-color: rgba(255, 255, 255, 0.902);
      }
      </style>
      <style>
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}

      
</style>
         
</head>
<body>


<main class="container-md bg-success text-white">
    
<div class="jumbotron">
<h1 class="display-4">Welcome to the <%= title %> page</h1>               
</div>   
</main>
      
    
</div>
      
<br>
<br>
<br>
<br>

<div class="container">
  <h2>Hi!</h2>
<h2>I hope you enjoy your visit!</h2>
<p>I'm a designer | digital mareketing specialist | software taster  </p>
<div class="btn-group btn-group-justified">
    
<a href="about" class="btn btn-success">About</a>
    
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

<!-- Instagram -->
<a class="btn btn-primary" style="background-color: #ee3131;" href="https://www.instagram.com/" role="button"
  ><i class="fab fa-instagram"></i
></a>

<!-- Twitter -->
<a class="btn btn-primary" style="background-color: #55acee;" href="https://twitter.com/" role="button"
  ><i class="fab fa-twitter"></i
></a>


<!-- Github -->
<a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/mhamds/portfolio-mhamd/" role="button"
  ><i class="fab fa-github"></i
></a>
  </div>

  
</body>
<footer>
    <%- include ../partials/bottom_nav %>
</footer> 
    
    
